ul.tetrao-container {
    list-style: none;
    padding: 0;
    margin: 0;
}


.tetrao-container {
    width: 100%;
    transform: translateX(0);
    cursor: grab;
}

.tetrao-slide {
}


// Theme system
@import "./theme-default";
